/**************** ADMIN ****************/

.admin {
  border: 5px solid $color-2;
  height: 100vh;
  padding: 2rem;

  button {
    border: none;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
    color: $color-2;
    background: $color-3;
  }
}

/**************** INDEX ADMIN ****************/

.update-login {
  margin: 2rem;

  h2 {
    margin-bottom: 1rem;
    text-decoration: underline $color-3;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 15%;

    input {
      margin-bottom: 0.5rem;
    }
  }

  button {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: $color-2;
    background: $color-3;
  }
}

/**************** INDEX TRAITEUR VIANDE ****************/

.update-traiteur-viande {
  margin: 2rem;

  h2 {
    margin-bottom: 1rem;
    text-decoration: underline $color-3;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 15%;

    input {
      margin-bottom: 0.5rem;
    }
  }
}
