/**************** ADMIN ****************/

.admin {
  background-image: url('.././../.././public/assets/papier-peint-10.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 5px solid $color-2;
  padding: 2rem;

  button {
    border: none;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
    color: $color-2;
    background: $color-3;
    width: 6.5rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

/**************** INDEX ADMIN ****************/

.update-login {
  margin: 2rem;

  h2 {
    margin-bottom: 1rem;
    text-decoration: underline $color-3;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 15%;

    input {
      margin-bottom: 0.5rem;
    }
  }

  button {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: $color-2;
    background: $color-3;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

/**************** INDEX TRAITEUR VIANDE ****************/

.update-traiteur-viande {
  margin: 2rem;

  .inline-flex {
    display: inline-flex;
  }

  h2 {
    margin: 0 1rem 1rem 0;
    text-decoration: underline $color-3;
  }

  h3 {
    transform: translateY(4px);
  }

  form {
    display: flex;
    flex-direction: column;
    width: 15%;

    input {
      margin-bottom: 0.5rem;
    }
  }
}

/**************** TABLE ****************/

.table {
  margin: 1rem;

  h3 {
    margin-bottom: 1rem;
  }

  .url-picture {
    color: $color-2;
    margin-right: 3rem;

    &:hover {
      color: $color-3;
    }
  }

  p {
    margin-right: 3rem;
  }
}
