.line-global {
  height: 3.8rem;
  display: grid;
  grid-template-columns: 45.1% repeat(2, 4.9%) 45.1%;
  grid-template-rows: 1fr;

  .line-horizontal-left {
    grid-area: 1 / 1 / 2 / 2;
    height: 20px;
    background: $color-3;
  }

  .line-horizontal-right {
    grid-area: 1 / 4 / 2 / 5;
    height: 20px;
    background: $color-3;
  }

  .line-horizontal-left-deg {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    left: -20px;
    top: -32px;
    height: 20px;
    width: 130px;
    background: $color-3;
    transform: rotate(-35.65deg);
    -webkit-transform : rotate(-35.65deg);
  }

  .line-horizontal-right-deg {
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
    right: 18px;
    top: -32px;
    height: 20px;
    width: 130px;
    background: $color-3;
    transform: rotate(35.65deg);
    -webkit-transform: rotate(35.65deg);
  }
}
