.scrool-top-resp {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 50px;
  top: 850px;
  transition: 0.5s ease-in-out;
  border: 2px solid $black;
}


.scrool-top-resp:hover {
  background-color: $black;
}