.user-bar-before {
  display: none;
  // transition: 0.3s ease-in-out;
}

.user-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
  background: $color-2;
  width: 100%;
  height: 3rem;
  // transition: 0.3s ease-in-out;

  .shopCart-bar {
    cursor: pointer;
  }
  p {
    color: #fff;
    margin-left: 2rem;
  }

  .user-connect-bar {
    position: absolute;
    right: 2rem;
  }
}
