.Band-enter {
  width: 100%;
  height: 40em;
  transform: translateY(-9em);
  background-image: url('../../../../public/assets/Fond-band.webp');
  background-size: cover;
  background-repeat: no-repeat;

  .band-txt {
    height: 55%;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #fff;
    border: 1.5em solid $color-6;
    border-bottom: none;

    & h1 {
      text-align: center;
      margin: 0.5em 1em 1em 1em;
      font-size: 2.8em;
    }

    .txt-in {
      margin: 0 6rem 0 6rem;
      text-align: center;
    }

    .btn-band {
      height: 3em;
      width: 10em;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1em;
      background-color: $color-2;
      cursor: pointer;
      transition: 0.2s opacity ease-in;

      & p {
        font-size: 1.5em;
        margin: 0.335em 0 0.335em 0;
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-family: $font-1;
      }
    }

    .btn-band:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 1366px) {
  .Band-enter {
    .band-txt {
      & h1 {
        margin: 0.4em 0.2em 0.4em 0.2em;
        font-size: 2.8em;
      }
      .txt-in {
        margin: 0 4rem 0 4rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Band-enter {
    .band-txt {
      width: 60%;

      .txt-in {
        margin: 0 2rem 0 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Band-enter {
    .band-txt {
      width: 75%;

      & h1 {
        margin: 0.25em 0.2em 0.25em 0.2em;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .Band-enter {
    .band-txt {
      width: 90%;
      & h1 {
        margin: 0.25em 0 0.25em 0;
      }

      .txt-in {
        margin: 0 1rem 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .Band-enter {
    .band-txt {
      & h1 {
        margin: 0.1em 0 0.1em 0;
      }

      .txt-in {
        margin: 0 0 0 0;
      }
    }
  }
}
