.Band-enter {
  width: 100%;
  height: 40em;
  transform: translateY(-9em);
  background-image: url('../../../../public/assets/Fond-band.jpeg');
  background-size: cover;
  background-repeat: no-repeat;

  .band-txt {
    height: 55%;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #fff;
    border: 1.5em solid $color-6;
    border-bottom: none;

    & h1 {
      text-align: center;
      margin: 1em 1em 0 1em;
      font-size: 2.8em;
    }

    .txt-in {
      margin: 1rem 6rem 0 6rem;
      text-align: center;
    }

    .btn-band {
      height: 3em;
      width: 10em;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1em;
      background-color: $color-2;
      cursor: pointer;
      transition: 0.2s opacity ease-in;

      & p {
        font-size: 1.5em;
        margin: 0.335em 0 0.335em 0;
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-family: $font-1;
      }
    }

    .btn-band:hover {
      opacity: 0.8;
    }
  }
}
