.all-band {
  margin-bottom: 10rem;
  position: relative;
  width: 100%;
  overflow: hidden;

  .band {
    height: 40vh;
    background-image: url('https://images.assetsdelivery.com/compings_v2/paulovilela/paulovilela1611/paulovilela161100136.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      position: absolute;
      right: 0;
      bottom: -50px;
      width: 20rem;
      z-index: 1;
    }

    h1 {
      text-align: center;
      color: black;
      font-size: 2.1rem;
      font-style: italic;
      letter-spacing: 0.1rem;
      position: absolute;
      left: 150px;
      top: 100px;
      width: 50%;
      z-index: 1;
    }
  }
}
