.traiteur-card {
  margin: 50px 450px 50px 450px;
  padding: 2rem;
  background: $color-6;

  h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
}

.card-traiteur {
  margin: 50px 0 50px 0;
  height: 65vh;
  background-image: url('https://i.ibb.co/br6BRdZ/traiteur1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;

  &:hover {
    background-image: url('https://i.ibb.co/JFtLkPP/traiteur.jpg');
  }

  h3 {
    position: absolute;
    top: 30px;
    color: $color-1;
    width: 33rem;
    text-align: center;
  }
}

/************ BOUTTON ***************/

.btn-position {
  position: absolute;
  bottom: 50px;
  height: 3.5rem;
}

.btn-card {
  box-sizing: border-box;
  width: 13em;
  padding: 0.8em;
  padding-left: 1.5em;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  border: 2px solid $color-3;
  position: relative;
  z-index: 1;

  p {
    color: #fff;
  }
}

.btn-card:hover {
  color: #fff;
  cursor: pointer;
}

.btn-card::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: $color-3;
}

.btn-card:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/*********** @MEDIA*************/

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  .traiteur-card {
    margin: 50px 250px 50px 250px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .traiteur-card {
    margin: 50px 80px 50px 80px;
  }

  .card-traiteur {
    margin: 50px 60px 50px 60px;
    height: 35rem;
  }
}

@media screen and (min-width: 568px) and (max-width: 1024px) {
  .traiteur-card {
    margin: 50px 20px 50px 20px;
  }

  .card-traiteur {
    margin: 50px 50px 50px 50px;
    height: 25rem;
    min-width: 25rem;
  }

  h3 {
    width: 90% !important;
  }
}

@media screen and (min-width: 370px) and (max-width: 568px) {
  .traiteur-card {
    margin: 50px 5px 50px 5px;
  }

  .card-traiteur {
    margin: 50px 0px 50px 0px;
    height: 25rem;
    min-width: 20rem;
  }
}
