.display-second {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr 1rem;
  grid-column-gap: 50px;
  margin: 0 400px 200px 400px;

  .picture-second {
    grid-area: 1 / 1 / 2 / 2;
    transition: opacity 3s, transform 1s;
    position: relative;
    width: 35rem;
    height: 21rem;
    background: $color-1;
    overflow: hidden;
    border: 1px solid $color-3;

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .text-second {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .head-text {
      font-family: $font-1;
      color: $color-3;
      font-size: 25px;
      font-style: italic;
      letter-spacing: 0.2rem;
      margin: -1rem 0 1rem 0;
      transition: opacity 3s, transform 1s;
    }

    .title-header {
      transition: opacity 3s, transform 1s;
      h1 {
        letter-spacing: 0.1rem;
      }
    }
  }

  .text-content {
    transition: opacity 3s, transform 1s;
    p {
      font-size: 20px;
      opacity: 0.7;
    }
  }
}

/************ DISPLAY **************/

.head-text-before {
  grid-area: 1 / 2 / 2 / 3;
  transform: translateX(300px);
  opacity: 0;
}

.title-header-before {
  grid-area: 1 / 1 / 2 / 2;
  transform: translateX(300px);
  opacity: 0;
}

.text-content-before {
  grid-area: 1 / 1 / 2 / 2;
  transform: translateX(300px);
  opacity: 0;
}

.picture-second-before {
  grid-area: 1 / 1 / 2 / 2;
  transform: translateX(-300px);
  opacity: 0;

  img {
    width: 35rem;
    height: 21rem;
  }
}

.link-to-second-before {
  grid-area: 2 / 2 / 3 / 3;
  transform: translateX(300px);
  opacity: 0;
}

.link-to-second {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  transition: opacity 3s, transform 1s;

  p {
    cursor: pointer;
    width: 17rem;
    margin-top: 1rem;
    color: $color-2;
    font-style: italic;
    text-decoration: underline $color-3;
    font-size: 1.1rem;

    &:hover {
      opacity: 0.6;
    }
  }
}
