.display-first {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr 1rem;
  grid-column-gap: 10px;
  margin: 0 400px 200px 400px;
  background: $color-6;

  .picture-first {
    grid-area: 1 / 2 / 2 / 3;
    transition: opacity 3s, transform 1s;
    position: relative;
    width: 100%;
    height: 35rem;
    overflow: hidden;
    border: 1px solid $color-3;

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .text-first {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;

    .head-text {
      font-family: $font-1;
      color: $color-3;
      font-size: 20px;
      font-style: italic;
      letter-spacing: 0.2rem;
      margin: -1rem 0 1rem 0;
      transition: opacity 3s, transform 1s;
    }

    .title-header {
      transition: opacity 3s, transform 1s;
      h1 {
        letter-spacing: 0.1rem;
      }
    }
  }

  .text-content {
    transition: opacity 3s, transform 1s;
    padding: 2rem;
    margin-top: -1rem;

    p {
      font-size: 20px;
      opacity: 0.7;
    }
  }

  /************ DISPLAY **************/

  .picture-first-before {
    grid-area: 1 / 2 / 2 / 3;
    opacity: 0;

    img {
      width: 100%;
      height: 25rem;
    }
  }

  .head-text-before {
    grid-area: 1 / 1 / 2 / 2;
    transform: translateX(-100px);
    opacity: 0;
  }

  .title-header-before {
    grid-area: 1 / 1 / 2 / 2;
    transform: translateX(-100px);
    opacity: 0;
  }

  .text-content-before {
    grid-area: 1 / 1 / 2 / 2;
    transform: translateX(-100px);
    opacity: 0;
  }

  .link-to-first-before {
    grid-area: 2 / 1 / 3 / 2;
    width: 12rem;
    transform: translateX(-100px);
    opacity: 0;
  }

  .link-to-first {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    transition: opacity 3s, transform 1s;

    p {
      cursor: pointer;
      width: 12rem;
      margin-top: -3rem;
      color: $color-2;
      font-style: italic;
      text-decoration: underline $color-3;
      font-size: 1.1rem;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
