/*********** TOP FOOTER *************/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $color-6;

  .top-footer {
    background: $color-2;
    background-image: url('.././../../../public/assets/papier-peint-10.png');
    background-size: 100%;
    background-repeat: no-repeat;

    img {
      width: 9rem;
      display: flex;
      margin: 0 auto;
      padding: 1rem 0 1rem 0;
    }
  }
}

/*********** BOTTOM FOOTER *************/

.bottom-footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 4rem 0;

  ul {
    margin: 4rem;
  }

  h2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  p {
    cursor: pointer;
    margin: 0.2rem;

    &:hover {
      color: $color-3;
    }
  }

  .copy {
    text-align: center;

    li {
      margin: 0.4rem;
    }

    .copy-icon {
      transform: translateY(2px);
    }
  }
}

.other-nav-mobile {
  display: none;
}

/*********** SOCIAL FOOTER *************/

.social {
  display: flex;
  align-items: center;
  position: absolute;
  left: 24%;
  bottom: 0;

  h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  ul {
    display: flex;
    margin-left: 1rem;

    li,
    a {
      color: $color-2;
      margin: 0 0.3rem 0 0.3rem;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $color-3;
      }
    }
  }
}

/*********** @MEDIA *************/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .bottom-footer {
    ul {
      margin: 2rem;
    }
  }
}

@media screen and (max-width: 1023px) {
  .bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .condition-mobile {
      margin-left: 1.8rem;
    }

    ul {
      margin: 1rem;
    }
  }

  .other-nav-mobile {
    display: flex;
    flex-direction: column;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .copy {
    display: flex;
    flex-direction: column;
    text-align: start !important;
  }
}

@media screen and (max-width: 768px) {
  .social {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: static;
  }
}
