.header-home {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr 1rem;
  grid-column-gap: 50px;
  margin: 0 400px 200px 400px;

  .picture-header {
    grid-area: 1 / 1 / 2 / 2;

    img {
      width: 35rem;
    }
  }

  .text-header {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .satisfaction {
      font-family: $font-1;
      color: $color-3;
      font-size: 25px;
      font-style: italic;
      letter-spacing: 0.2rem;
    }

    .title-header {
      h1 {
        letter-spacing: 0.2rem;
      }
    }
  }

  .text-content {
    margin: 0 80px 0 80px;

    p {
      font-size: 20px;
      opacity: 0.8;
    }
  }

  /************ DISPLAY **************/

  .link-to-before {
    grid-area: 2 / 2 / 3 / 3;
    width: 14.4rem;
    transform: translateX(300px);
    opacity: 0;
  }

  .link-to {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    transition: opacity 3s, transform 1s;

    p {
      cursor: pointer;
      width: 14.4rem;
      margin-top: -1rem;
      color: $color-2;
      font-style: italic;
      text-decoration: underline;
      font-size: 1.1rem;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

/************** LINE STYLE ****************/

.vertical-line {
  height: 20px;
  width: 2px;
  background: $color-3;
  position: relative;
  left: 49%;
  border-radius: 2px;
  margin: 1rem 0 1rem 0;
}
