.header-home {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding: 1rem;
  background: grey;
}

.text-head {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
  grid-area: 1 / 1 / 2 / 2;
}
.picture-head {
  background: green;
  grid-area: 1 / 2 / 2 / 3;
}

.vertical-line {
  height: 30px;
  width: 2px;
  background: $color-3;
  position: relative;
  left: 49%;
  border-radius: 2px;
  margin: 1rem 0 1rem 0;
}

.vertical-line2 {
  height: 20px;
  width: 2px;
  background: $color-3;
  position: relative;
  left: 49%;
  border-radius: 2px;
  margin: 0.5rem 0 0.5rem 0;
}

.text-content {
  padding: 1rem 10rem 0 10rem;
}
