.wrapper-info {
    margin-right: 20em;
    margin-left: 20em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    display: flex;
    justify-content: center;
    .global-infos {
        height: 15em;
        margin: 3.7em;
        text-align: center;
            h2 {
                margin-top: 0.4em;
            }
            p {
            margin-top: 0.4em;
            }
    .eco {
        display: flex;
        justify-content: center;
        height: 8.5em;
        width: 8.5em;
        margin-left: 2.25em;
        border-radius: 50%;
        border: 3px solid $color-3;
        .eco-img {
            height: 5.7em;
            width: 5.7em;
            margin: auto;
            display: block;
        }
    }
    .proxi {
        height: 8.5em;
        width: 8.5em;
        margin-left: 1.925em;
        border-radius: 50%;
        border: 3px solid $color-3;
        display: flex;
        .proxi-img {
            height: 5.2em;
            width: 5.2em;
            margin: auto;
            display: block;
        }
    }
    .pat {
        height: 8.5em;
        width: 8.5em;
        margin-left: 2.725em;
        border-radius: 50%;
        border: 3px solid $color-3;
        display: flex;
        .pat-img {
            height: 5.2em;
            width: 5.2em;
            margin: auto;
            display: block;
        }
    }
    }
}
