/************ PANELS **************/

.panels-infos {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
  grid-template-rows: repeat(4, 25%);
  width: 100%;
  height: 50em;
  background-color: $color-2;
  overflow: hidden;
}

/******* PANEL LEFT *******/

.panel-left {
  grid-column: 1;
  grid-row: 1 / 5;
}

.panel-left-overlay {
  grid-column: 1;
  grid-row: 1 / 5;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  transition: ease-out 0.8s;
  transform: translateY(0);
}

/******* PANEL RIGHT *******/

.panel-right {
  grid-column: 3;
  grid-row: 1 / 5;
}

.panel-right-overlay {
  grid-column: 3;
  grid-row: 1 / 5;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  transition: ease-out 0.8s;
  transform: translateY(0);
}

/******* PANEL CENTER *******/

.panel-center {
  grid-column: 2;
  grid-row: 1 / 5;
}

.panel-center-overlay {
  grid-column: 2;
  grid-row: 1 / 5;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  transition: ease-out 0.8s;
  transform: translateY(0);
}

.panel-center-img-bg {
  grid-column: 2;
  grid-row: 1 / 5;
  height: 100%;
  background-image: url('../../../../public/assets/eco-cadre-nobg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panels-infos .content-center-container {
  position:absolute;
  height: 40em;
  width: 33.334%;
  margin-top: 4.5em;
  margin-bottom: 5.5em;
}

.panels-infos .content-container {
  position:absolute;
  box-sizing: border-box;
  padding: 2em;
  height: 50em;
  width: 33.334%;
}


/************ PANELS CONTENT **************/
.global-infos {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

.global-infos-center {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.first-half-l,
.first-half-c,
.first-half-r {
  width: 100%;
  height: 50%;
  margin-top: .5em; 
}

  .infos-img {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
  }


.spacing {
  height: 6em;
}

.spacing-center {
  height: 4em;
}

.first-half-text {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: .4em;
  letter-spacing: 0.06em;
  color: white;
}

.first-half-text-second {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  color: white;
}

.round-r,
.round-l {
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  outline: 2px solid white;
  margin-top: -2em;
  z-index: 1;
}

.round-center {
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  outline: 2px solid white;
  margin-top: -1.8em;
  z-index: 1;
}


.svg-button-left,
.svg-button-right,
.svg-button-center {
  height: 1.4em;
  width: 1.4em;
  margin-top: .5em;
  cursor: pointer;
  z-index: 1000;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(101%) contrast(105%);
}

.second-half-left {
  transform: translateY(-20%);
  opacity: 0;
}

.second-half-right {
  transform: translateY(-20%);
  opacity: 0;
}

.second-half-center {
  transform: translateY(-20%);
  opacity: 0;
}

/************ PANELS CLICK **************/

.animationClick {
  animation-name: animationClick;
  animation-duration: 0.9s;
  box-sizing: border-box;
  margin-top: 3.6em;
  padding: .8em;
    h2 {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    color: white;
  }
    p {
      color: white;
      font-size: large;
    }
}

@keyframes animationClick{
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animationClickCenter {
  animation-name: animationClick;
  animation-duration: 0.9s;
  box-sizing: border-box;
  margin-top: 1.4em;
  padding: .8em;
    h2 {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    color: white;
  }
    p {
      box-sizing: border-box;
      margin-right: 3em;
      margin-left: 3em;
      color: white;
      font-size: large;
    }
}

@keyframes animationClickCenter {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


/************ PANELS HOVER **************/

.panel-left:hover .panel-left-overlay{
    transform: translateY(-100%);
}

.panel-right:hover .panel-right-overlay{
  transform: translateY(-100%);
}

.panel-center:hover .panel-center-overlay{
  transform: translateY(-100%);
}

@media screen and (max-width: 1440px) {
  .animationClickCenter p{
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1366px) {
  .panels-infos .content-container {
    padding: .8em;
    height: 50em;
  }
  .round-r,
  .round-l {
    width: 2.4em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    outline: 2px solid white;
    margin-top: -4em;
    z-index: 1;
  }
  
  .round-center {
    width: 2.4em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    outline: 2px solid white;
    margin-top: -2.5em;
    z-index: 1;
  }

  .first-half-text {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    text-transform: uppercase;
    margin-top: .4em;
    letter-spacing: 0.06em;
    color: white;
  }
  
  .first-half-text-second {
    display: flex;
    justify-content: center;
    font-size: 1.15em;
    color: white;
    text-align: center;
  }

  .animationClick {
    animation-name: animationClick;
    animation-duration: 0.9s;
    box-sizing: border-box;
    margin-top: 1.25em;
    padding: .8em;
      h2 {
      display: flex;
      justify-content: center;
      margin-bottom: .5em;
      color: white;
    }
      p {
        color: white;
        font-size: large;
      }
  }
}

@media screen and (max-width: 1024px) {
  .panels-infos {
    display: grid;
    grid-template-columns: 35% 55% 10%;
    grid-template-rows: repeat(3, 33.33333%);
    width: 100%;
    height: 50em;
    background-color: $color-2;
    overflow: hidden;
  }
  /******* PANEL LEFT *******/

.panel-left {
  grid-column: 1 / 4;
  grid-row: 1;
}

.panel-left-overlay {
  display: none;
}
/******* PANEL RIGHT *******/

.panel-right {
  grid-column: 1 / 4;
  grid-row: 3;
}

.panel-right-overlay {
  display: none;
}

/******* PANEL CENTER *******/

.panel-center {
  grid-column: 1 / 4;
  grid-row: 2;
}

.panel-center-overlay {
  display: none;
}

.panel-center-img-bg {
  grid-column: 1 / 4;
  grid-row: 2;
  height: 100%;
  background-image: url('../../../../public/assets/eco-cadre-nobg.png');
  background-size: 105%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: -32px;
}
/************ PANELS CONTENT **************/

.first-half {
  width: 100%;
  height: 50%;
  margin-top: .5em; 
}

  .infos-img {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    height: 60px;
    width: 60px;
  }


.spacing {
  height: 0;
}

.spacing-center {
  height: 0;
}

.first-half-text {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: .4em;
  letter-spacing: 0.06em;
  color: white;
}

.first-half-text-second {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  color: white;
}
.global-infos-center {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 33.33333%;
  padding-right: 0;
  padding-left: 0;
}
.panels-infos .content-center-container {
  position:absolute;
  grid-column: 1 / 4;
  grid-row: 2;
  height: 33.33333%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.panels-infos .content-container {
  position:absolute;
  box-sizing: border-box;
  grid-column: 1 / 4;
  grid-row: 2;
  height: 33.33333%;
  width: 100%;
}
.first-half-l {
  width: 33.33333%;
  height: 50%;
}
.first-half-r {
  width: 33.33333%;
  height: 50%;
}
.first-half-c {
  width: 33.33333%;
  height: 50%;
}
.round-r,
.round-l {
  width: 3.5em;
  height: 3.5em;
  margin-left: 90%;
  border-radius: 50%;
  outline: 2px solid white;
  z-index: 1;
  transform: translateY(85%);
}

.round-center {
  width: 3.5em;
  height: 3.5em;
  margin-left: 89%;
  border-radius: 50%;
  margin-top: 0;
  outline: 2px solid white;
  z-index: 1;
  transform: translateY(100%);
}
.svg-button-left,
.svg-button-right,
.svg-button-center {
  height: 2.5em;
  width: 2.5em;
  margin: .50em;
  cursor: pointer;
  z-index: 1000;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(101%) contrast(105%);
}
.englo-anim-c {
  width: 50%;
  margin: 0 auto 0 23em;
  transform: translateY(-90%);
  .animationClickCenter {
  animation-name: animationClick;
  animation-duration: 0.9s;
  margin-top: 6em;
  padding: 0;
  margin-right: 25%;
  
    h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 0;
  }
    p {
      box-sizing: border-box;
      margin-right: 0;
      margin-left: 0;
      color: white;
      font-size: medium;
    }
  }
}

.englo-anim-l,
.englo-anim-r {
  width: 50%;
  margin: 0 auto 0 22em;
  transform: translateY(-90%);
  .animationClick {
  animation-name: animationClick;
  animation-duration: 0.9s;
  margin-top: 8em;
  padding: 0;
  margin-right: 25%;
  
    h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 0;
    padding: 0;
  }
    p {
      box-sizing: border-box;
      margin-right: 0;
      margin-left: 0;
      color: white;
      font-size: medium;
    }
  }
}

}

@media screen and (max-width: 768px) {
  .englo-anim-c {
    width: 50%;
    margin: 0 auto 0 16.5em;
    transform: translateY(-90%);
    .animationClickCenter {
    animation-name: animationClick;
    animation-duration: 0.9s;
    margin-top: 8em;
    padding: 0;
    margin-right: 25%;
    
      h2 {
      display: flex;
      justify-content: center;
      color: white;
      margin-top: 0;
    }
      p {
        box-sizing: border-box;
        margin-right: 0;
        margin-left: 0;
        color: white;
        font-size: medium;
        text-align: center;
      }
    }
  }

.englo-anim-l,
.englo-anim-r {
  width: 50%;
  margin: 0 auto 0 16.5em;
  transform: translateY(-90%);
  .animationClick {
  animation-name: animationClick;
  animation-duration: 0.9s;
  margin-top: 8em;
  padding: 0;
  margin-right: 10%;
  
    h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 0;
    padding: 0;
    display: none;
  }
    p {
      box-sizing: border-box;
      margin-right: 0;
      margin-left: 0;
      color: white;
      font-size: medium;
      text-align: center;
    }
  }
}
}

@media screen and (max-width: 568px) {
.round-r,
.round-l {
  display: none;
}

.round-center {
  display: none;
}

.englo-anim-l,
.englo-anim-r {
  display: none;
}

.englo-anim-c {
  display: none;
}

.first-half-l,
.first-half-c,
.first-half-r {
  width: 100%;
  height: 50%;
}

.panel-center-img-bg {
  grid-column: 1 / 4;
  grid-row: 2;
  height: 100%;
  background-image: url('../../../../public/assets/eco-cadre-nobg.png');
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
}