/*********** NAV BAR *************/

.all-nav {
  background: $color-2;
  clip-path: polygon(0 0, 0 100%, 45% 100%, 50% 75%, 55% 100%, 100% 100%, 100% 0);
  display: grid;
  grid-template-columns: 40% 20% 40%;

  .nav-bar ul {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    li {
      margin: 2rem;
    }

    p {
      color: $color-1;
    }
  }
  /*********** LOGO *************/

  .logo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

    img {
      width: 10rem;
      cursor: pointer;
    }

    h2 {
      letter-spacing: 0.2rem;
      padding-top: 1rem;
    }
  }
}

/*********** OTHER NAV *************/

.other-nav ul {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  li {
    margin: 2rem;
  }

  .switch-mode {
    transform: translateY(3px);
  }
}
