/*********** NAV BAR *************/

.all-nav {
  background: $color-2;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 15rem;

  .nav-bar ul {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    li {
      margin: 2rem;
      text-decoration: none;
      background: linear-gradient(to top, $color-3 0%, $color-3 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
      transition: background-size 0.5s;

      &:hover {
        background-size: 100% 100%;
      }
    }

    p {
      color: $color-1;
    }
  }
  /*********** LOGO *************/

  .logo-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 12rem;
      cursor: pointer;
    }

    h2 {
      letter-spacing: 0.2rem;
      padding-top: 1rem;
    }
  }
}

/*********** OTHER NAV *************/

.other-nav ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-right: 2rem;

  li {
    margin: 2rem;
  }

  .switch-mode {
    transform: translateY(3px);
  }
}

.resp-menu {
  display: none;

  .icon-menu {
    color: $color-3;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .resp-menu {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .other-nav {
    opacity: 0;
  }

  .resp-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    transition: all 1s ease;
    z-index: 1000;
  }

  .resp-nav.active {
    position: fixed;
    height: 100vh;
    background: $black;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 1000;
    align-content: center;
  }

  li {
    height: 1.5rem;
    p {
    }
  }
}
