.text-acceuil-fetch {
  width: 60%;
  margin: 3rem auto 3rem;
}

.option-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 0.5rem;

  .search-bar {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    left: 18rem;
  }

  .filter-display {
    grid-area: 1 / 1 / 2 / 2;
    width: 50%;
    display: flex;
    justify-content: space-between;

    p:hover {
      cursor: pointer;
      color: $color-3;
    }
  }
}

/* ===== PHOTOS ===== */

.fetch-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: auto;
  padding-bottom: 5rem;
}

.photos {
  -webkit-box-shadow: 0px 0px 10px 10px $color-6;
  box-shadow: 0px 0px 10px 10px $color-6;
  width: 23em;
  height: 21em;
  margin: 1rem 1rem 8rem 1rem;
  position: relative;
}

.img-gallerie {
  position: absolute;
  width: 23em;
  height: 21em;
  filter: blur(0);
  transition: filter 0.3s linear;
}

.icones {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram {
  width: 3em;
  height: 3em;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.fab {
  font-size: 28px;
  color: $black;
  display: flex;
  justify-content: center;
  margin: 0.4em;
}

/* ===== PHOTOS HOVER ===== */

.photos:hover {
  .instagram {
    opacity: 1;
  }

  .img-gallerie {
    filter: blur(1.5px);
  }
}

.info-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 1rem;
  }
}

.text-order {
  width: 60%;
  margin: 0 auto 3rem;
}

/* ===== PHOTOS ENTER MACARONS ===== */

.Macarons-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-floral-45.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: -6em 0 2em 0;
  display: flex;
}

.cons-degus {
  text-align: center;
  position: relative;
  top: -100px;
  color: #fff;
}

/* ===== PHOTOS ENTER COCKTAILS ===== */

.Cocktails-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-cocktails-45.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER PRODUITS ===== */

.Produits-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-produits-dexception-45.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER CHARCUTERIE ===== */

.Charcuterie-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-charcuterie-45.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

.plus-text {
  margin: 0 25% 0 25%;
  background-color: $color-6;

  & h3 {
    margin: 0.5em;
  }

  & p {
    padding: 0.8em;
  }
}

/* ===== PHOTOS ENTER VIANDE ===== */

.Viande-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-viande-45.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER POISSON ===== */

.Poisson-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-poisson-45.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER PÂTISSERIE ===== */

.Patisserie-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-patisserie-45.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER VINS ===== */

.Vins-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-vins-45.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/*******************************/

.Infos-enterText {
  align-self: center;
  margin: 0 auto;
  width: 50em;
  height: auto;

  & h1 {
    text-align: center;
    margin: 1rem;
    color: #fff;
    font-size: 2.7em;
    letter-spacing: 0.05em;
  }

  & .Presentation-gallery {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin: 0em 2.1em 0em 2.1em;
  }
}

.t-eT {
  color: $color-2;
  font-family: $font-2;
  letter-spacing: 0.06em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

/*********** @MEDIA*************/

@media screen and (max-width: 1180px) {
  .Vins-headBand,
  .Cocktails-headBand,
  .Produits-headBand,
  .Patisserie-headBand,
  .Macarons-headBand,
  .Poisson-headBand,
  .Viande-headBand,
  .Charcuterie-headBand {
    height: 30em;
    background-position-y: 0px;
  }
}

@media screen and (max-width: 414px) {
  .Macarons-headBand,
  .Cocktails-headBand {
    height: 17em;
  }

  .Infos-enterText {
    align-self: flex-start !important;
  }

  h1 {
    font-size: 1.8em !important;
  }

  .Presentation-gallery {
    font-size: 0.9em !important;
  }

  // .t-eT {
  //   color: $color-2;
  //   font-family: $font-2;
  //   letter-spacing: 0.06em;
  //   font-size: 1.3em;
  //   margin-bottom: 0.5em;
  //   margin-left: 0.5em;
  // }
}
