.text-acceuil-fetch {
  width: 60%;
  margin: 3rem auto 3rem;
}

.option-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 0.5rem;

  .search-bar {
    grid-column: 4;
  }

  .filter-display {
    grid-column: 1;
    display: flex;
    justify-content: space-between;

    p:hover {
      cursor: pointer;
      color: $color-3;
    }
  }
}

/* ===== PHOTOS ===== */

.fetch-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: auto;
  padding-bottom: 5rem;
}

.photos {
  width: 23em;
  height: 22em;
  margin: 1rem 1rem 14rem 1rem;
}

.img-gallerie {
  cursor: pointer;
  width: 23em;
  height: 21em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.info-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 1rem;
  }
}

.add-shopping-cart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  p:active {
    color: $color-3;
  }
}

.text-order {
  width: 60%;
  margin: 0 auto 3rem;
}

/* ===== PHOTOS ENTER MACARONS ===== */

.Macarons-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-floral-45.webp');
  background-repeat: no-repeat;
  background-size: cover;
  margin: -6em 0 2em 0;
  display: flex;
}

.cons-degus {
  text-align: center;
  position: relative;
  top: -100px;
  color: #fff;
}

/* ===== PHOTOS ENTER COCKTAILS ===== */

.Cocktails-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-cocktails-45.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER PRODUITS ===== */

.Produits-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-produits-dexception-45.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER CHARCUTERIE ===== */

.Charcuterie-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-charcuterie-45.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER VIANDE ===== */

.Viande-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-viande-45.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER POISSON ===== */

.Poisson-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-poisson-45.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER PÂTISSERIE ===== */

.Patisserie-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-patisserie-45.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/* ===== PHOTOS ENTER VINS ===== */

.Vins-headBand {
  width: 100%;
  height: 40em;
  background-image: url('../../../../public/assets/Fond-vins-45.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -300px;
  margin: -6em 0 2em 0;
  display: flex;
}

/*******************************/

.Infos-enterText {
  align-self: center;
  margin: 0 auto;
  width: 50em;
  height: auto;

  & h1 {
    text-align: center;
    margin: 1rem;
    color: #fff;
    font-size: 2.7em;
    letter-spacing: 0.05em;
  }

  & .Presentation-gallery {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin: 0em 2.1em 0em 2.1em;
  }
}

.plus-text {
  margin: 0 25% 0 25%;
  background-color: $color-6;

  & h3 {
    margin: 0.5em;
  }

  & p {
    padding: 0.8em;
  }
}

.t-eT {
  color: $color-2;
  font-family: $font-2;
  letter-spacing: 0.06em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

/*********** @MEDIA*************/

@media screen and (max-width: 1440px) {
  .text-acceuil-fetch {
    width: 90%;
  }

  .option-gallery {
    .filter-display {
      margin-bottom: 2rem;
    }
  }

  .fetch-card {
    width: 100%;
  }

  .text-order {
    width: 90%;
  }
}

@media screen and (max-width: 1180px) {
  .Vins-headBand,
  .Cocktails-headBand,
  .Produits-headBand,
  .Patisserie-headBand,
  .Macarons-headBand,
  .Poisson-headBand,
  .Viande-headBand,
  .Charcuterie-headBand {
    height: 30em;
    background-position-y: 0px;
  }

  .plus-text {
    margin: 0 15% 0 15%;
  }

  .text-acceuil-fetch {
    width: 90%;
  }

  .fetch-card {
    width: 100%;
  }

  .text-order {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .option-gallery {
    .search-bar {
      grid-column: 3 / 4;
      position: relative;
      left: 76%;
      width: 13.8rem;
    }
    .filter-display {
      width: 12rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .option-gallery {
    .search-bar {
      grid-column: 4;
      position: inherit;
      left: 0;
    }
  }
  .Charcuterie-headBand {
    .Infos-enterText {
      margin-bottom: 7em;
      & h1 {
        margin: 0.2em;
        font-size: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .Charcuterie-headBand,
  .Viande-headBand {
    .Infos-enterText {
      margin-bottom: 12em;
      & h1 {
        font-size: 2em;
        margin: 0;
      }
      & p {
        font-size: 0.9em;
      }
      .Presentation-gallery {
        margin: 0 2em 0 1em;
      }
    }
  }

  .Charcuterie-headBand {
    .Infos-enterText {
      & h1 {
        margin: 0.5em;
      }
    }
  }

  .Produits-headBand {
    .Infos-enterText {
      & h1 {
        font-size: 2.5em;
        margin: 0.25em;
      }
      .Presentation-gallery {
        margin: 0;
      }
    }
  }

  .Poisson-headBand,
  .Patisserie-headBand,
  .Produits-headBand {
    .Infos-enterText {
      margin-bottom: 12em;
    }
  }
}

@media screen and (max-width: 428px) {
  .Vins-headBand,
  .Patisserie-headBand,
  .Poisson-headBand,
  .Macarons-headBand,
  .Cocktails-headBand {
    height: 17em;
  }

  .Charcuterie-headBand {
    .Infos-enterText {
      .Presentation-gallery {
        margin: 0 1.5em 0 0.5em;
      }
    }
  }

  .Viande-headBand {
    height: 18em;
    .Infos-enterText {
      margin-bottom: 0;
      & h1 {
        margin: 0;
      }
      & p {
        margin: 0.25em;
      }
    }
  }

  .Produits-headBand {
    .Infos-enterText {
      & h1 {
        margin: 0.3em;
      }
      .Presentation-gallery {
        margin: 0 1em 0 1em;
      }
    }
  }

  .plus-text {
    margin: -200px 10% 0 10%;
  }

  .cons-degus {
    display: none;
  }

  .Infos-enterText {
    align-self: flex-start !important;
  }

  h1 {
    font-size: 1.8em !important;
  }

  .Presentation-gallery {
    font-size: 0.9em !important;
  }

  .option-gallery {
    display: block;

    .filter-display {
      width: 70%;
      margin-bottom: 2rem;
    }

    .search-bar {
      left: 0;
    }
  }

  .fetch-card {
    width: 95%;
  }

  .text-order {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .Charcuterie-headBand {
    margin-bottom: 0;
    .Infos-enterText {
      & h1 {
        margin: 0;
      }
      & p {
        margin: 0;
      }
    }
  }
}
