/********** MODAL CONFIRM ************/
.confirm {
  transition: 0.3s ease-in-out;
  p {
    font-size: 10px;
    color: $color-3;
  }
}

.confirm-before {
  opacity: 0;
  transform: translateY(-2rem);
  transition: 0.3s ease-in-out;

  p {
    font-size: 10px;
  }
}
/********** MODAL ADD ************/
.add {
  transition: 0.3s ease-in-out;
  transform: translateY(-2rem);
  p {
    font-size: 10px;
    color: $color-3;
  }
}

.add-before {
  opacity: 0;
  transform: translateY(-4rem);
  transition: 0.3s ease-in-out;

  p {
    font-size: 10px;
  }
}
/********** MODAL CONNECT ************/
.connect {
  transition: 0.3s ease-in-out;
  transform: translateY(-4rem);

  p {
    font-size: 10px;
    color: $color-3;
  }
}

.connect-before {
  opacity: 0;
  transform: translateY(-6rem);
  transition: 0.3s ease-in-out;

  p {
    font-size: 10px;
  }
}
