.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-modal {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(2, 1fr);
  z-index: 100;
  background: $color-6;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 1200px;
  width: 100%;
  height: 35rem;
  overflow: scroll;
}

.card-modal-left {
  grid-area: 1 / 1 / 2 / 2;
  padding: 2rem;
  height: 30rem;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
  }
}

.card-modal-right {
  grid-area: 1 / 2 / 2 / 3;
  padding: 2rem;

  .card-right-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
  }

  .card-right-content {
    .point-info {
      display: flex;

      p {
        font-size: 15px;
        text-decoration: underline;

        &:hover {
          color: $color-3;
        }
      }
      span {
        font-size: 35px;
        transform: translateY(-23px);
        margin: 0 5px 0 5px;
      }
    }

    h3,
    h2 {
      margin-bottom: 2rem;
    }
  }
}

/****************** LIST INFO ********************/

.product-info {
  grid-area: 2 / 1 / 3 / 3;
  background: #fff;

  .list-card,
  ul,
  p {
    font-size: 20px;
  }
}

/****************** ADD SHOP CART ********************/
.add-shop-cart {
  margin-left: 1rem;

  .product-choise {
    display: flex;

    .more-less-product {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12rem;
      height: 3rem;
      margin-left: 5rem;
      border: 1px solid $color-2;
      border-radius: 20px;

      p {
        font-size: 25px;
      }

      .less-button {
        position: relative;
        left: -50px;
      }

      .more-button {
        position: relative;
        left: 50px;
      }

      .pointer {
        cursor: pointer;
      }

      .allowed {
        cursor: not-allowed;
      }
    }
  }
}
