.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-modal {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 1000px;
  width: 80%;
  height: 30rem;
  padding: 2rem;
}

.card-modal-left {
  grid-area: 1 / 1 / 2 / 2;
  height: 25rem;

  img {
    height: 100%;
  }
}

.card-modal-right {
  grid-area: 1 / 2 / 2 / 3;

  .card-right-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
  }

  .card-right-content {
    h3 {
      margin-bottom: 2rem;
    }
  }
}
