.traiteur-card {
  margin: 50px 300px 50px 300px;
  padding: 2rem;
  background: $color-6;

  h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
}

.card-traiteur {
  margin: 50px 320px 50px 320px;
  height: 60vh;
  background-image: url('https://i.ibb.co/br6BRdZ/traiteur1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;

  &:hover {
    background-image: url('https://i.ibb.co/JFtLkPP/traiteur.jpg');
  }

  h3 {
    position: absolute;
    top: 30px;
    color: $color-1;
    width: 33rem;
    text-align: center;
  }
}

/************ BOUTTON ***************/

.btn-position {
  position: absolute;
  bottom: 50px;
  height: 3.5rem;
}

.btn-card {
  box-sizing: border-box;
  width: 13em;
  padding: 0.8em;
  padding-left: 1.5em;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  border: 2px solid $color-3;
  position: relative;
  z-index: 1;

  p {
    color: #fff;
  }
}

.btn-card:hover {
  color: #fff;
  cursor: pointer;
}

.btn-card::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: $color-3;
}

.btn-card:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
