.traiteur-card {
  margin: 50px 300px 50px 300px;
}

.card-traiteur {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;

  h3 {
    position: absolute;
    bottom: 10px;
    color: $color-3;
    padding: 2rem;
    width: 35rem;
    text-align: center;
  }
  img {
    height: 35rem;
  }
}

/************ BOUTTON ***************/

.btn-card {
  box-sizing: border-box;
  width: 13em;
  padding: 0.8em;
  padding-left: 1.5em;
  border: none;
  transition: ease-out 0.3s;
  outline: none;
  border: 2px solid $color-3;
  position: relative;
  z-index: 1;
}

.btn-card:hover {
  color: #fff;
  cursor: pointer;
}

.btn-card::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: $color-3;
}

.btn-card:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
