.head-text {
  text-align: center;
  margin: 70px 410px 0 410px;

  h1 {
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 20px;
    opacity: 0.7;
  }

  .bottom-text {
    margin: 0 200px 0 200px;
  }
}
