.head-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  background: $color-6;
  margin: 0 300px 100px 300px;

  .left-content {
    grid-area: 1 / 1 / 2 / 2;
    padding: 5rem;
  }

  .right-content {
    grid-area: 1 / 2 / 2 / 3;
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;

    img {
      height: 30rem;
      width: 35rem;
      border: 20px solid #fff;
    }
  }
}
