.middle-content {
  margin: 100px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 100px;
  grid-column-gap: 100px;
}

.head-parent {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  position: relative;

  img {
    border: 5px solid black;
    position: absolute;
    right: 0;
  }
}
.child-content {
  text-align: center;
  border-radius: 1%;
  width: 25rem;
  height: 12rem;
  position: absolute;
  bottom: 0;
  left: 700px;
  background: #fff;
  padding: 12px;

  h3 {
    word-spacing: 5px;
  }
}

.head-parent2 {
  grid-area: 2 / 2 / 3 / 3;
  width: 20rem;
  height: 100%;
  position: relative;

  img {
    border: 5px solid $color-3;
  }
}
.child-content2 {
  text-align: center;
  border-radius: 1%;
  width: 28rem;
  height: 10rem;
  position: absolute;
  bottom: -20px;
  left: -290px;
  background: #fff;
  padding: 12px;

  h3 {
    word-spacing: 5px;
  }
}

.head-parent5 {
  grid-area: 3 / 1 / 4 / 2;
  height: 100%;
  position: relative;

  img {
    border: 5px solid $color-3;
    position: absolute;
    right: 0;
  }
}
.child-content5 {
  text-align: center;
  border-radius: 1%;
  width: 28rem;
  height: 10rem;
  position: absolute;
  bottom: -15px;
  left: 700px;
  background: #fff;
  padding: 12px;

  h3 {
    word-spacing: 5px;
  }
}

.head-parent3 {
  margin-top: 3rem;
  grid-area: 4 / 1 / 5 / 2;
  height: 100%;
  position: relative;

  img {
    border: 5px solid $color-2;
    position: absolute;
    right: 0;
  }
}
.child-content3 {
  z-index: 1;
  text-align: center;
  border-radius: 1%;
  width: 30rem;
  height: 12rem;
  position: absolute;
  bottom: 30px;
  right: -290px;
  background: #fff;
  padding: 12px;

  h3 {
    word-spacing: 5px;
  }
}

.head-parent4 {
  margin-top: 3rem;
  grid-area: 4 / 2 / 5 / 3;
  height: 100%;
  position: relative;

  img {
    border: 5px solid $color-4;
  }
}
