.cookies {
  padding-top: 7rem;
  margin: 0 500px 0 500px;
}

/*********** COOKIES **********/

.cook-use {
  h2 {
    padding-bottom: 1rem;
  }

  p {
    padding-left: 1rem;
  }
}

.cook-control {
  padding: 1rem 0 3rem 1rem;

  h2 {
    padding-bottom: 1rem;
  }
}
