.cookies {
  margin: 0 500px 0 500px;
}

/*********** COOKIES **********/

.cook-use {
  padding-left: 1rem;
  h1 {
    padding-bottom: 1rem;
  }

  p {
    padding-left: 1rem;
    font-size: 17px;
  }
}

.cook-control {
  padding: 1rem 0 3rem 1rem;

  h1 {
    padding-bottom: 1rem;
  }

  p {
    padding-left: 1rem;
    font-size: 17px;
  }
}
