.cookies {
  margin: -3rem 400px 0 400px;
}

/*********** COOKIES **********/

.cook-use {
  padding-left: 1rem;
  h1 {
    padding-bottom: 1rem;
  }

  p {
    padding-left: 1rem;
    font-size: 17px;
  }
}

.cook-control {
  padding: 1rem 0 3rem 1rem;

  h1 {
    padding-bottom: 1rem;
  }

  p {
    padding-left: 1rem;
    font-size: 17px;
  }
}

/*********** @MEDIA*************/

@media screen and (max-width: 1440px) {
  .cookies {
    margin: -3rem 200px 0 200px;
  }
}

@media screen and (min-width: 810px) and (max-width: 1440px) {
  .cookies {
    margin: -3rem 100px 0 100px;
  }
}

@media screen and (max-width: 809px) {
  .cookies {
    margin: -3rem 20px 0 20px;
  }
}
