/********** MENU DROP ***********/

.header-nav {
  position: relative;
  display: flex;
  margin: 1rem 0 1rem 0;
  height: 8rem;
  color: $color-2;

  ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/**********DATA ITEM ***********/
.down {
  font-family: $font-1;

  .navitem {
    cursor: pointer;
    display: flex;
    margin: 1.5rem 3rem 0 3rem;

    &:hover {
      color: $color-3;
    }
  }
}
.dropdown {
  display: flex;
  justify-content: center;
}

.items {
  cursor: pointer;
  margin: 0.5rem 0.5rem 0 0.5rem;

  &:hover {
    color: $color-3;
  }
}
