/********** MENU DROP ***********/

.header-nav {
  position: relative;
  display: flex;
  margin-top: 1rem;

  ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/**********DATA ITEM ***********/
.down {
  display: flex;
  flex-direction: column;

  .navitem {
    margin: 0 2rem 0 2rem;
    font-family: $font-1;
    cursor: pointer;
  }

  .dropdown {
    display: flex;
    justify-content: center;
  }

  .items {
    margin: 0 0.5rem 0 0.5rem;
  }
}
