.page-contact {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 150px 400px 150px 400px;

  .left-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
