/*********** TEXT BANNER **********/
.texte {
  display: grid;
  grid-template-columns: repeat(6, 16.6666%);
  grid-template-rows: 1fr;
  margin-top: 3rem;
  margin-bottom: 7rem;
  text-align: center;

  h1 {
    grid-column: 3 / 5;
    font-family: $font-1;
    // font-style: italic;
    letter-spacing: 0.28em;
  }
}

/*********** PAGE CONTACT **********/

.page-contact {
  display: grid;
  grid-template-columns: repeat(6, calc(16.666666666666% - 9.5px));
  grid-template-rows: repeat(4, 5em);
  gap: 0.7em;
  margin-bottom: 3.5em;
  z-index: 1;
  .input-message {
    grid-column: 3 / 5;
    grid-row: 3;
    .split {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, 41%);
      .text-field-tel {
        grid-column: 1 / 2;
        grid-row: 1;
        margin-top: 0.23em;
      }
      .form-err {
        grid-column: 1 / 3;
        grid-row: 3;
        text-align: center;
        color: red;
        font-family: $font-1;
      }
    }
  }

  .form-message {
    color: $color-2;
  }

  .email-err {
    grid-column: 4 / 5;
    grid-row: 1;
    // align-self: center;
    margin-top: -1.2rem;
    color: red;
    font-family: $font-1;
  }

  .textfield-test {
    grid-column: 4 / 5;
    grid-row: 1;
    align-self: end;
  }

  .text-field-name {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .text-field-email {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .text-field-last-name {
    grid-column: 3 / 4;
    grid-row: 2;
  }

  .text-field-message {
    min-height: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }

  .text-field-email,
  .text-field-name,
  .text-field-last-name,
  .text-field-tel {
    width: 100%;
  }

  /*********** LEFT CONTENT **********/

  .heures-ouverture {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10em;
    margin-left: 10em;
    padding: 1em;
    border-radius: 3%;
    border: 1px solid $color-3;
    h1 {
      margin-top: 0.3em;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      padding-bottom: 0.7rem;
      color: $black;
    }

    h3 {
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
    }
  }

  .left-content {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  /*********** BOUTON **********/
  .button {
    grid-column: 3 / 5;
    grid-row: 4;
    box-sizing: border-box;
    margin: 0.9em;
    margin-right: 12.5em;
    margin-left: 12.5em;
    background-color: $color-2;
    border-radius: 0.3em;
  }

  /*********** SOCIAL MEDIA **********/
  .social-media {
    grid-column: 5 / 6;
    grid-row: 4;
    align-self: center;
    margin-left: 8.2em;
    margin-bottom: 0.1em;
    .global-media {
      display: inline-flex;
    }
    .global-media .icon {
      position: relative;
      background-color: #fff;
      border-radius: 50%;
      padding: 15px;
      margin: 10px;
      width: 50px;
      height: 50px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      span {
        color: black;
      }
    }
    .global-media .tooltip {
      position: absolute;
      top: 0;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
      padding: 5px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .global-media .tooltip::before {
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .global-media .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .global-media .icon:hover a,
    .global-media .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }

    .global-media .fb:hover,
    .global-media .fb:hover .tooltip,
    .global-media .fb:hover .tooltip::before {
      background-color: #3b5999;
      color: #ffffff;
    }
    .global-media .insta:hover,
    .global-media .insta:hover .tooltip,
    .global-media .insta:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
  }
}
