.logo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  img {
    width: 4rem;
    cursor: pointer;
  }

  h2 {
    letter-spacing: 0.2rem;
    padding-top: 1rem;
  }
}
