.all-notice {
  margin: 0 400px 0 400px;
}

/*********** @MEDIA*************/

@media screen and (max-width: 1440px) {
  .all-notice {
    margin: -3rem 200px 0 200px;
  }
}

@media screen and (min-width: 810px) and (max-width: 1440px) {
  .all-notice {
    margin: -3rem 100px 0 100px;
  }
}

@media screen and (max-width: 809px) {
  .all-notice {
    margin: -3rem 10px 0 10px;
  }
}
