/*********** CONTENT FORM **********/

.content-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;

  .content1 {
    grid-column: 3 / 5;

    p {
      font-family: $font-1;
      letter-spacing: 0.1rem;
    }
  }

  .content2 {
    margin: 1.5rem 0 3rem 0;
    grid-column: 3 / 6;
  }
}

.button {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $black;
      font-size: 14px;
      font-family: Roboto, sans-serif;
    }
  }
}
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $color-3;
  padding: 20px 0px;
  margin: 5px;
  width: 120px;
  height: 20px;
  overflow: hidden;
}

.effect.effect-1 {
  transition: all 0.2s linear 0s;

  p {
    color: $color-3;
  }

  &:before {
    content: '→';
    color: $color-3;
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;

    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}

@media screen and (max-width: 568px) {
  .content-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  
    .content1 {
      grid-column: 2 / 5;
  
      p {
        font-family: $font-1;
        letter-spacing: 0.1rem;
      }
    }
  
    .content2 {
      margin: 1.5rem 0 3rem 0;
      grid-column: 2 / 6;
    }
  }
}