/*********** CONTENT FORM **********/

.content-form {
  text-align: center;
  h1 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding-bottom: 0.7rem;
    color: $black;
  }

  h3 {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }

  img {
    width: 25rem;
    margin-top: 1rem;
    border-radius: 3%;
    box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

/*********** FORM **********/

.form {
  padding-top: 10rem;

  form {
    display: flex;
    flex-direction: column;
  }
}

.button {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $black;
      font-size: 14px;
      font-family: Roboto, sans-serif;
    }
  }
}
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $black;
  padding: 20px 0px;
  margin: 5px;
  width: 120px;
  height: 20px;
  overflow: hidden;
}

.effect.effect-1 {
  transition: all 0.2s linear 0s;

  &:before {
    content: '→';
    color: $black;
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;

    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}
