.account {
  padding: 2rem;
  text-align: center;
}

.user-info {
  padding: 2rem;

  h3 {
    margin: 0.5rem;
  }
}

.delete-account {
  display: flex;
  margin: 1rem;
}

.valid-before {
  opacity: 0;
  transform: translateX(2rem);
  transition: 0.3s ease-in-out;
}

.valid {
  transition: 0.3s ease-in-out;
}
