/************ LOGIN ***********/

.login-container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
}

.left-login {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  .back {
    position: relative;
    top: -90px;
    left: -200px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
    margin-bottom: 3rem;
  }
}

.input-login {
  width: 300px;
}

.right-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  img {
    width: 8rem;
  }
}

.log-button {
  border: none;
  outline: none;
  padding: 8px 0;
  background-color: $color-2;
  width: 180px;
  font-size: 16px;
  cursor: pointer;

  p {
    color: $color-3;
  }
}

/*********** @MEDIA *************/

@media screen and(max-width: 1024px) {
  .login-form-container {
    width: 700px;
  }

  .left-login {
    .back {
      left: -120px;
    }
  }
}

@media screen and(max-width: 428px) {
  .login-container {
    .login-form-container {
      flex-direction: column !important;
      width: 350px;
      height: 550px;
    }

    .left-login {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .back {
        position: relative;
        top: -10px;
        left: 0px;
      }
    }

    .right-login {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      img {
        width: 6rem;
      }
    }
  }
}
