/************ LOGIN ***********/
.signup-container {
  width: 100%;
  margin: 3rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form-container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
}

.left-register {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  img {
    width: 8rem;
  }
}

.right-register {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-6;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 30px;
    margin-bottom: 3rem;
  }
}

.input-login {
  width: 300px;
}

/*********** @MEDIA *************/

@media screen and(max-width: 1024px) {
  .signup-form-container {
    width: 700px;
  }

  .error-register {
    text-align: center;
  }
}

@media screen and(max-width: 428px) {
  .signup-container {
    .signup-form-container {
      flex-direction: column-reverse !important;
      width: 350px;
      height: 750px;
    }

    .right-register {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    .left-register {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0px;

      img {
        width: 6rem;
      }
    }
  }
}
