@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

/********* FONT ************/
$font-1: 'Cardo', serif;
$font-2: 'Cormorant', serif;

/********* COLOR ************/

$color-1: #f6fbf8;
$color-2: #032953;
$color-3: #f7ce7c;

/********* STYLE GLOBAL ************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: $font-2;
}

p,
span {
  font-family: $font-1;
}

/********* DARK MODE ************/
