/****************** SHOPCART *******************/

.shopCart {
  margin: 0px 300px 0px 300px;

  h2 {
    margin: 2rem 0 5rem 0;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr;

  .article-list {
    grid-area: 1 / 1 / 2 / 2;

    p {
      padding: 0.5rem;
      padding-left: 1rem;
      height: 2.5rem;
      border-radius: 5px;
      background: rgb(247, 244, 244);
      margin-bottom: 2rem;
    }
  }

  .total-list {
    grid-area: 1 / 2 / 2 / 3;
    background: rgb(247, 244, 244);
    height: 30rem;
    border-radius: 5px;
    margin-left: 3rem;
  }
}

/****************** ARTICLES *******************/

.articles {
  background: rgb(247, 244, 244);
  height: 8rem;
  border-radius: 5px;
}

.grid-article {
  display: grid;
  grid-template-columns: 20% 50% 1fr;
  grid-template-rows: 1fr;

  .picture-article {
    grid-area: 1 / 1 / 2 / 2;
  }

  .article {
    grid-area: 1 / 2 / 2 / 3;
  }

  .price-more-less {
    grid-area: 1 / 3 / 2 / 4;
  }
}
