/************* MODAL **********/

.modal-overlay {
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .modal-wrapper {
    width: 20rem;
    height: 12rem;
  }

  .modal {
    width: 100%;
    height: 100%;
  }

  .modal-close-button {
    position: relative;
    top: 5px;
    left: 300px;
  }
}

/************* INDEX-MODAL **********/

.login-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 10rem;

  form {
    padding: 1rem 3rem 0 3rem;
  }
}

.err-login {
  font-size: 0.7rem;
  color: red;
}
